<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:insert="fragments/base :: header"></th:block>
</head>
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <th:block th:insert="fragments/sidebar :: sidebar"></th:block>

    <!-- Main -->
    <div id="content-wrapper" class="d-flex flex-column">


      <div id="content">
        <th:block th:insert="fragments/topbar :: topbar"></th:block>
        <div class="container-fluid">
          <!-- DataTales -->
          <th:block th:insert="cards/target_table :: target_table"></th:block>
          <th:block th:insert="cards/task_list :: task_list"></th:block>
          <th:block th:insert="cards/data_table :: data_table"></th:block>

        </div>
      </div>
    </div>
    <!-- End of Main -->
  </div>

  <th:block th:insert="fragments/base :: scripts"></th:block>
  <script th:src="@{/js/tables.js}"></script>
</body>
</html>
